{% extends 'core/base.html' %} 

{% block content %}
    <title>Posts</title>
    <h4><a href="/admin/core/post/">Posts:</a></h4>
    {% for post, likes, dislikes in results %}
        <article class="post">
            <div>{{ post.title }} | {{likes }} | {{ dislikes }} </div>

            {% comment %} <div>{{ post.title }} | {{ post.content }} | {{likes }} | {{ dislikes }} | <time class="date"> Created at:               
                {{ post.created_at }} </time> by {{ post.user|linebreaksbr }} </div> {% endcomment %}
        </article>        
    {% endfor %}
{% endblock %}