nav { text-align: right }
.image-align {
        text-align: center;
}

.tur{
        /* padding-top:5px; */
        margin-top:3px;
        margin-left:45px;
        width:200px;
        height:35px;
    }
     
.tur2{
        padding-top:5px;
        padding-bottom:5px;
        width:900px;
        height:30px;
        margin-left:45px;
     
    }

footer {text-align: center}
table{  border: 2px solid SlateBlue;
        box-align: center;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        }
td{ width: 25%;}
th,td{padding: 10px 15px;}
th{background: DodgerBlue;}
tr:nth-child(2n) {background: #e8edff;}
ol{
        list-style: circle; 
        margin: 0; 
        padding: 0;
    }
