{% extends 'core/base.html' %} 
{% block title %}Users{% endblock %}

{% block content %}
     
            <table class="table_head" style="margin: auto;"  >

                
                <tr>
                    <th colspan="7" class="border"><h4>Username lists:</h4> </th>                    
                </tr>
                <tr>
                    <td class="border">username</td>
                    <td class="border">ФИО</td>
                    <td class="border">email</td>
                    <td class="border">пол</td>
                    <td class="border">День рождения</td>
                    <td class="border">Permissions</td>
                    <td class="border">staff</td>
                    
                </tr>
                {% for user in object_list %}
                <tr >
                    <td class="border">{{ user.username }}</td>
                    <td class="border">{{ user.fio }}</td>
                    <td class="border">{{ user.email }}</td>
                    <td class="border">{{ user.gender }}</td>
                    <td class="border">{{ user.birth_date }}</td>
                    <td class="border">{{ user.groups }}</td>
                    <td class="border">{{ user.is_staff }}</td>
                </tr>
                {% endfor %}
            </table>
        </dev>
    </ol>
       
{% endblock %}